

<div class="container mt-5">
  <div class="row">
      <div class="col">
          <h1 class="text-center mb-5">Vista de un Post</h1>
          <table class="table table-bordered table-striped">
              <tbody>
                  <tr>
                      <th>Id</th>
                      <td>{{oPost?.id}}</td>
                  </tr>
                  <tr>
                      <td>Title</td>
                      <td>{{oPost?.title}}</td>
                  </tr>
                  <tr>
                      <td>Body</td>
                      <td>{{oPost?.body}}</td>
                  </tr>
                  <tr>
                      <td>Labels</td>
                      <td>{{oPost?.labels}}</td>
                  </tr>
                  <tr>
                      <td>Visible</td>
                      <td>{{oPost?.visible}}</td>
                  </tr>
                  <tr>
                      <td>Datetime</td>
                      <td>{{oPost?.datetime}}</td>
                  </tr>
                  <tr>
                    <td>User</td>
                    <td>{{oPost?.user.id}} - {{oPost?.user.name}}</td>
                </tr>

              </tbody>
          </table>
      </div>
  </div>
</div>
